/*! -- Customizers -- */
.box-shadow {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
}
.box-shadow-shallow {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
}
.box-shadow-wide {
  box-shadow: 0 23px 40px rgba(0, 0, 0, 0.2);
}
.border--round {
  border-radius: 6px;
}
.border--round:before {
  border-radius: 6px;
}
.border--round .background-image-holder {
  border-radius: 6px;
}
.border--round [data-scrim-top]:before,
.border--round [data-scrim-bottom]:before,
.border--round [data-overlay]:before {
  border-radius: 6px;
}
.imageblock.border--round .background-image-holder {
  border-radius: 6px 0 0 6px;
}
@media all and (max-width: 767px) {
  .imageblock.border--round .background-image-holder {
    border-radius: 6px 6px 0 0;
  }
}
.theme--square .border--round,
.theme--square .btn {
  border-radius: 0px;
}
.theme--bordered {
  border: 0.92857143em solid #252525;
}
.main-container.transition--fade:not(.transition--active) {
  cursor: wait;
}
@media all and (min-width: 1280px) {
  body.boxed-layout > section.bar-3:first-of-type {
    border-radius: 6px 6px 0 0;
  }
  body.boxed-layout .main-container > footer:last-child {
    border-radius: 0 0 6px 6px;
  }
}
body.boxed-layout .modal-container section:not([class*='bg-']) {
  background: none;
}
/*! -- Helpers -- */
@media all and (max-width: 767px) {
  .block--xs {
    margin-top: 0.92857143em;
  }
}
.container .container {
  max-width: 100%;
}
.switchable-toggle {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.back-to-top {
  position: fixed;
  width: 3.71428571em;
  height: 3.71428571em;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  right: 1.85714286em;
  bottom: 3.71428571em;
  padding-top: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
  z-index: 99;
  border: 1px solid #ececec;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
}
.back-to-top i {
  color: #252525;
}
.back-to-top:not(.active) {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  -webkit-transform: translate3d(0, 20px, 0);
  pointer-events: none;
}
.back-to-top.active:hover {
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
}
.disable-scroll-bars {
  -ms-overflow-style: none;
}
.disable-scroll-bars::-webkit-scrollbar {
  display: none;
}
/*! -- Animations -- */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    -webkit-transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    -webkit-transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
    -webkit-transform: translate3d(0, -100px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
    -webkit-transform: translate3d(0, -100px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
    -webkit-transform: translate3d(0, -50px, 0);
    -webkit-font-smoothing: antialiased;
  }
}
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
    -webkit-transform: translate3d(0, -50px, 0);
    -webkit-font-smoothing: antialiased;
  }
}
@keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
    -webkit-transform: translate3d(50px, 0, 0);
    -webkit-font-smoothing: antialiased;
  }
}
@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
    -webkit-transform: translate3d(50px, 0, 0);
    -webkit-font-smoothing: antialiased;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
    -webkit-transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
    -webkit-transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2);
    -webkit-transform: scale(2);
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2);
    -webkit-transform: scale(2);
  }
}
@keyframes kenBurns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes kenBurns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
/*! -- Sections -- */
section:not(.unpad):not(.imagebg):not([class*='bg--']):not(.imageblock):not(.unpad--bottom):not(.border--bottom):not(.space--xxs) + section:not(.unpad):not(.imagebg):not([class*='bg--']):not(.imageblock):not(.border--bottom):not(.space--xxs) {
  padding-top: 0;
}
section:not(.unpad):not(.imagebg):not([class*='bg--']):not(.imageblock):not(.unpad--bottom):not(.border--bottom) + footer:not(.unpad):not(.imagebg):not([class*='bg--']):not(.imageblock):not(.unpad--bottom):not(.border--bottom) {
  padding-top: 0;
}
section:not(.imagebg):not([class*='bg-']) + section.bg--secondary {
  border-top: 1px solid #ebebeb;
}
section.bg--secondary:not(.imagebg) + section:not(.imagebg):not([class*='bg-']) {
  border-top: 1px solid #ebebeb;
}
section.bg--secondary:not(.unpad):not(.imageblock):not(.unpad--bottom):not(.border--bottom) + section.bg--secondary {
  padding-top: 0;
}
section.bg--secondary + footer:not(.bg--dark):not(.bg--secondary) {
  border-top: 1px solid #ebebeb;
}
section.bg--dark + section.bg--dark {
  padding-top: 0;
}
section.bg--dark:last-of-type + footer.bg--dark {
  background: #1b1b1b;
}
section.border--bottom:not([data-gradient-bg]) {
  border-bottom: 1px solid #ececec;
}
section.unpad {
  overflow: hidden;
}
section:not([class*='bg--']) + footer.bg--secondary {
  border-top: 1px solid #ebebeb;
}
section.text-center div[class*='col-']:first-child:last-child {
  margin: 0 auto;
  float: none;
}
.section--overlap {
  z-index: 2;
  position: relative;
}
/*! -- Typography -- */
@media all and (max-width: 1024px) {
  html {
    font-size: 80%;
  }
}
h1,
.h1 {
  letter-spacing: -0.01em;
}
h1:not(:last-child),
.h1:not(:last-child) {
  margin-bottom: 0.59090909090909em;
}
@media all and (min-width: 768px) {
  h1.h1--large,
  .h1.h1--large {
    font-weight: 200;
    font-size: 4.428571428571429em;
    line-height: 1.048387096774194em;
  }
  h1.h1--large:not(:last-child),
  .h1.h1--large:not(:last-child) {
    margin-bottom: 0.419354838709677em;
  }
  h1.h1--large.type--uppercase,
  .h1.h1--large.type--uppercase {
    letter-spacing: 10px;
    margin-right: -10px;
  }
  h1.h1--large + p.lead,
  .h1.h1--large + p.lead {
    margin-top: 2.052631578947368em;
  }
}
h2,
.h2 {
  margin-bottom: 0.78787878787879em;
}
h3,
.h3 {
  margin-bottom: 1.04em;
}
h3 strong,
.h3 strong {
  font-weight: 400;
}
blockquote {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 300;
}
blockquote:not(:last-child) {
  margin-bottom: 1.04em;
}
blockquote > p {
  font-size: 1em !important;
}
h4,
.h4 {
  margin-bottom: 1.36842105263158em;
  font-weight: 400;
}
h4.inline-block + .h4.inline-block:not(.typed-text),
.h4.inline-block + .h4.inline-block:not(.typed-text) {
  margin-left: 0.68421052631579em;
}
h5,
.h5 {
  font-weight: 600;
}
h5:not(:last-child),
.h5:not(:last-child) {
  margin-bottom: 1.85714286em;
}
h6,
.h6 {
  font-weight: 700;
}
h6:not(:last-child),
.h6:not(:last-child) {
  margin-bottom: 2.16666666666667em;
}
h6.type--uppercase,
.h6.type--uppercase {
  letter-spacing: 1px;
  margin-right: -1px;
}
span.h1:not(.inline-block),
span.h2:not(.inline-block),
span.h3:not(.inline-block),
span.h4:not(.inline-block),
span.h5:not(.inline-block),
span.h6:not(.inline-block) {
  display: block;
}
b {
  font-weight: 600;
}
hr {
  border-color: #ECECEC;
}
.bg--dark hr {
  border-color: #585858;
}
[class*='bg-']:not(.bg--white):not(.bg--secondary) p,
[class*='imagebg']:not(.image--light) p {
  opacity: .9;
}
.lead {
  font-weight: 400;
  color: #808080;
}
.lead:not(:last-child) {
  margin-bottom: 1.36842105263158em;
}
.lead + .btn:last-child {
  margin-top: 0.92857143em;
}
p:last-child {
  margin-bottom: 0;
}
p strong {
  color: #252525;
}
pre {
  padding: 0.92857143em;
  background: #fafafa;
  border: 1px solid #ececec;
  border-radius: 6px;
  line-height: 20px;
  max-height: 500px;
}
.bg--secondary > pre {
  background: #f5f5f5;
  border-color: #ddd;
}
.text-block:not(:last-child) {
  margin-bottom: 1.85714286em;
}
.text-block h2,
.text-block .h2 {
  margin-bottom: 0.3939393939394em;
}
.text-block h5,
.text-block .h5 {
  margin: 0;
}
.text-block h4:not(:last-child),
.text-block .h4:not(:last-child) {
  margin-bottom: 0.3421052631579em;
}
.text-block h3,
.text-block .h3 {
  margin-bottom: 0.52em;
}
@media all and (min-width: 768px) {
  div[class*='col-'] .text-block + .text-block {
    margin-top: 3.71428571em;
  }
}
.heading-block {
  margin-bottom: 3.71428571em;
}
.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4,
.heading-block h5,
.heading-block h6,
.heading-block .h1,
.heading-block .h2,
.heading-block .h3,
.heading-block .h4,
.heading-block .h5,
.heading-block .h6 {
  margin-bottom: 0;
}
/*! -- Colours -- */
.bg--dark .bg--secondary {
  background: #343434;
}
/*! -- Links -- */
a {
  color: #4a90e2;
  font-weight: 700;
}
a:hover {
  color: #2275d7;
  text-decoration: underline;
}
a.block {
  font-weight: normal;
  text-decoration: none;
  color: #666666;
}
p a,
span a,
label a {
  font-size: 1em;
  text-decoration: underline;
  font-weight: 400;
  line-height: 1.85714286em;
}
p + a:not(.btn) {
  font-size: 0.85714286em;
  line-height: 2.16666667em;
}
.imagebg:not(.image--light) a {
  color: #fff;
  font-weight: 600;
}

/*! -- Rules -- */
hr:first-child {
  margin-top: 0;
}
hr.short {
  width: 2.78571429em;
  border-color: #4a90e2;
}
hr[data-title] {
  margin: 2.78571429em 0;
  text-align: center;
}
hr[data-title]:before {
  content: attr(data-title);
  background: #ffffff;
  position: relative;
  bottom: 14px;
  padding: 0.92857143em;
  font-style: italic;
}
.bg--dark hr:not(.short),
.imagebg hr:not(.short),
.bg--primary hr:not(.short) {
  opacity: .3;
}
/*! -- Buttons -- */
.btn {
  position: relative;
}
.btn:not([class*='primary']) {
  border-color: #d3d3d3;
}
.btn:not([class*='primary']):hover {
  border-color: #252525;
}
.btn.type--uppercase {
  letter-spacing: .5px;
}
.btn.type--uppercase .btn__text {
  letter-spacing: .5px;
  margin-right: -0.5px;
}
.btn .label {
  top: -0.92857143em;
  right: -3.71428571em;
}
.btn.btn--lg .btn__text {
  font-weight: 600;
}
.btn.btn--lg.type--uppercase .btn__text {
  letter-spacing: 1px;
}
.btn + p.type--fine-print,
.btn + span.type--fine-print {
  margin-top: 1.08333333333334em;
}
.btn.block {
  margin-left: 0;
}
.btn.block + .btn.block {
  margin-top: 0.92857143em;
}
.btn:hover {
  transform: translate3d(0, -2px, 0);
  -webkit-transform: translate3d(0, -2px, 0);
}
.btn.btn--sm + .btn--sm {
  margin-left: 0.92857143em;
}
p > .btn {
  text-decoration: none;
}
@media all and (max-width: 767px) {
  .btn:not(:last-child) {
    margin-bottom: 1.85714286em;
  }
}
.btn--icon {
  padding-left: 5.57142857em;
}
.btn--icon i {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 13px;
  border-radius: 6px 0 0 6px;
  font-size: 16px;
  line-height: 41px;
}
.btn--icon i.socicon {
  line-height: 42px;
}
.btn--cart {
  width: 3.71428571em;
  height: 3.71428571em;
  border: 2px solid #252525;
  display: block;
  text-align: center;
  border-radius: 6px;
  opacity: .4;
  padding: 0;
}
.btn--cart:hover {
  opacity: 1;
}
.btn--cart .btn__text {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.142857142857143em;
}
.imagebg:not(.image--light) .btn--icon:not([class*='bg']):not([class*='primary']) i {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
@media all and (min-width: 768px) {
  .btn-group .btn {
    margin-bottom: 0 !important;
    margin-left: 0;
  }
  .btn-group .btn + .btn {
    margin-left: 0;
  }
  .btn-group .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .btn-group .btn:first-child {
    border-radius: 6px 0 0 6px;
  }
  .btn-group .btn:last-child {
    border-radius: 0 6px 6px 0;
  }
  .btn-group .btn:first-child:nth-last-child(2),
  .btn-group .btn:last-child:nth-child(2) {
    width: 50%;
  }
}
.btn-group {
  border: none;
  padding: 0;
}
@media all and (max-width: 767px) {
  .btn-group .btn {
    display: block;
  }
}
.bg--primary div:not([class*='feature']) .btn--primary {
  background: #fff;
  border-color: #fff;
}
.bg--primary div:not([class*='feature']) .btn--primary .btn__text {
  color: #4a90e2;
}
.bg--primary > .btn--primary {
  background: #fff;
  border-color: #fff;
}
.bg--primary > .btn--primary .btn__text {
  color: #4a90e2;
}
.bg--dark .btn:not(.btn--primary) {
  border-color: #3f3f3f;
}
.bg--dark .btn:not(.btn--primary):hover {
  border-color: #656565;
}
.bg--dark .btn .btn__text {
  color: #fff;
}
.imagebg:not(.image--light) .btn:not([class*='primary']) {
  border-color: rgba(255, 255, 255, 0.3);
}
.imagebg:not(.image--light) .btn:not([class*='primary']):hover {
  border-color: #fff;
}
.imagebg.image--light .btn:not([class*='primary']) {
  border-color: #252525;
  background: rgba(255, 255, 255, 0.3);
}
.imagebg.image--light .btn:not([class*='primary']):hover {
  background: rgba(255, 255, 255, 0.5);
}
h1 + .btn,
.h1 + .btn {
  margin-top: 1.85714286em;
}
h2 + .btn,
.h2 + .btn {
  margin-top: 0.92857143em;
}
/*! -- Images -- */
img:last-child {
  margin-bottom: 0;
}
img.flag {
  max-height: 1.85714286em;
}
img.image--sm:not(:last-child) {
  margin-bottom: 0.92857143em;
}
img.promo.border--round {
  border: 1px solid #ececec;
}
p.lead img {
  max-height: 1.68421053em;
}
.imagebg h1,
.imagebg h2,
.imagebg h3,
.imagebg h4,
.imagebg h5,
.imagebg h6 {
  position: relative;
}
.imagebg:not(.image--light) span {
  color: #fff;
}
.imagebg.border--round {
  overflow: hidden;
}
section.parallax .row .background-image-holder {
  transform: none !important;
  top: 0 !important;
}
.triptych.border--round img {
  position: relative;
  border-radius: 6px;
  width: 33.333333%;
  float: left;
  margin: 0;
}
.triptych.border--round img:nth-child(2) {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  z-index: 2;
  box-shadow: 0 23px 40px rgba(0, 0, 0, 0.2);
}
/*! -- Icons -- */
.icon:not(.block) {
  display: inline-block;
}
.icon.icon--xs {
  font-size: 1.14285714285714em;
}
.text-block .icon + h4 {
  margin-top: 0.6842105263158em;
}
.imagebg .icon {
  color: #fff;
}
p .material-icons {
  font-size: 1em;
}
p .material-icons:first-child {
  margin-right: 0.30952381em;
}
.material-icons {
  font-family: 'Material Icons' !important;
}
.icon-circle {
  position: relative;
  display: inline-block;
  width: 3.71428571em;
  height: 3.71428571em;
  border-radius: 50%;
  border: 1px solid #ececec;
  background: #fafafa;
  text-align: center;
}
.icon-circle i {
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
}
/*! -- Boxes -- */
.boxed {
  border-radius: 6px;
}
.boxed .background-image-holder {
  border-radius: 6px;
}
.boxed:before {
  border-radius: 6px;
}
.boxed:not(:last-child) {
  margin-bottom: 30px;
}
.boxed:not([class*='bg-']) {
  background: #ffffff;
}
.boxed.bg--secondary .boxed {
  background: #fafafa;
}
@media all and (min-width: 768px) {
  .switchable .imagebg .boxed {
    padding-left: 5.57142857em;
  }
}
.bg--dark .boxed:not([class*='bg-']),
.imagebg:not(.image--light) .boxed:not([class*='bg-']) {
  background: none;
  color: #fff;
}
.bg--dark .boxed:not([class*='bg-']).boxed--border,
.imagebg:not(.image--light) .boxed:not([class*='bg-']).boxed--border {
  border-color: #3f3f3f;
}
.bg--dark .boxed[class*='bg-'].boxed--border,
.imagebg:not(.image--light) .boxed[class*='bg-'].boxed--border {
  border: none;
}
.imagebg:not(.image--light) .boxed:not(.bg--white):not(.bg--none) {
  background: rgba(20, 20, 20, 0.3);
}
.imagebg:not(.image--light) .boxed:not(.bg--white):not(.bg--none).boxed--border {
  border: none;
}
.imagebg:not(.image--light) .boxed:not(.bg--white):not(.bg--none) .boxed {
  background: none;
}
.bg--primary .boxed:not(.imagebg) {
  color: #666666;
}
.bg--primary .boxed:not(.imagebg) p {
  color: #666666;
}
.bg--primary .boxed:not(.imagebg) h1,
.bg--primary .boxed:not(.imagebg) h2,
.bg--primary .boxed:not(.imagebg) h3,
.bg--primary .boxed:not(.imagebg) h4,
.bg--primary .boxed:not(.imagebg) h5,
.bg--primary .boxed:not(.imagebg) h6,
.bg--primary .boxed:not(.imagebg) .h1,
.bg--primary .boxed:not(.imagebg) .h2,
.bg--primary .boxed:not(.imagebg) .h3,
.bg--primary .boxed:not(.imagebg) .h4,
.bg--primary .boxed:not(.imagebg) .h5,
.bg--primary .boxed:not(.imagebg) .h6,
.bg--primary .boxed:not(.imagebg) i {
  color: #252525;
}
.bg--primary .boxed:not(.imagebg) a {
  color: #4a90e2;
}
.bg--primary .boxed:not(.imagebg) .color--primary {
  color: #4a90e2 !important;
}
@media all and (min-width: 768px) {
  .boxed.boxed--emphasis {
    transform: scale(1.075);
    -webkit-transform: scale(1.075);
  }
}
/*! -- Modals -- */
.modal-container .modal-content:not(.height--natural) {
  height: auto;
  width: auto;
}
.modal-instance:not(.block) {
  display: inline-block;
}
.modal-instance.block > .btn {
  display: block;
}
@media all and (min-width: 768px) {
  .modal-instance + span:last-child {
    display: inline-block;
    margin-left: 0.92857143em;
  }
}
.modal-container .modal-content {
  max-height: 95%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.modal-container .modal-content .feature:only-child {
  margin-bottom: 0;
}
.modal-container .modal-content .feature:only-child .boxed {
  margin-bottom: 0;
}
.modal-container .modal-content .imagebg:not(.image--light) .modal-close-cross:before {
  color: #fff;
}
@media all and (max-width: 767px) {
  .modal-container .modal-content > .modal-close-cross {
    top: 3em;
    background: #222;
    width: 2em;
    height: 2em;
    text-align: center;
    border-radius: 50%;
    color: #fff;
  }
}
.modal-content {
  -ms-overflow-style: none;
}
.modal-content::-webkit-scrollbar {
  display: none;
}
/*! -- Notifications -- */
.notification {
  margin: 1.85714286em;
  box-shadow: none;
}
.notification:not([class*='bg--']) {
  background: none;
}
.notification > .boxed {
  margin: 0;
}
.notification > .feature,
.notification .feature__body {
  margin-bottom: 0;
}
.notification-close-cross.notification-close-cross--circle {
  background: #222;
  width: 2em;
  height: 2em;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}
/*! -- Forms -- */
.bg--dark input,
.imagebg:not(.image--light) input,
.bg--dark textarea,
.imagebg:not(.image--light) textarea,
.bg--dark select,
.imagebg:not(.image--light) select,
.bg--dark .input-select:after,
.imagebg:not(.image--light) .input-select:after {
  color: #666666;
}
.bg--dark label,
.imagebg:not(.image--light) label {
  color: #fff;
}
.bg--dark form.attempted-submit input.field-error {
  background: #D84D4D;
  color: #fff;
}
form {
  position: relative;
}
form > div[class*='col-']:not(:last-child),
form > .row > div[class*='col-']:not(:last-child) {
  margin-bottom: 0.92857143em;
}
form .boxed:last-child {
  margin: 0;
}
form.form--clearfix {
  margin-left: -15px;
}
@media all and (min-width: 768px) {
  div[class*='col-'] > form div[class*='col-']:last-child:nth-child(2) {
    padding-right: 0;
  }
  div[class*='col-'] > form div[class*='col-']:first-child:nth-last-child(2) {
    padding-left: 0;
  }
  form.form--horizontal > div[class*='col-'] {
    margin: 0;
  }
}
@media all and (max-width: 767px) {
  .row form > .row {
    margin-left: 0;
    margin-right: 0;
  }
}
h2 + form,
.h2 + form {
  margin-top: 2.78571429em;
}
h3 + form,
.h3 + form,
.lead + form {
  margin-top: 2.78571429em;
}
.cover .lead + form {
  margin-top: 3.71428571em;
}
form + span.type--fine-print {
  margin-top: 1.08333333333334em;
  display: inline-block;
}
.form--inline > span.h4 {
  color: #666666;
}
.form--inline input,
.form--inline [class*='input-'] {
  display: inline-block;
  max-width: 200px;
}
.form--inline > span:not(:last-child),
.form--inline input:not(:last-child),
.form--inline [class*='input-']:not(:last-child) {
  margin-right: 0.92857143em;
}
.form--inline button {
  max-width: 200px;
}
.bg--dark .form--inline > span.h4,
.imagebg:not(.image--light) .form--inline > span.h4 {
  color: #fff;
}
button,
input[type="submit"] {
  height: 3.25000000000001em;
}
button.btn,
input[type="submit"].btn {
  font-size: 0.85714286em;
  font-weight: 700;
  padding-left: 0;
  padding-right: 0;
}
button.btn.btn--primary,
input[type="submit"].btn.btn--primary {
  color: #fff;
}
button.btn.type--uppercase,
input[type="submit"].btn.type--uppercase {
  letter-spacing: .5px;
  margin-right: -0.5px;
}
button.checkmark.checkmark--cross,
input[type="submit"].checkmark.checkmark--cross {
  width: 1.85714286em;
  height: 1.85714286em;
  border: none;
  background: #e23636;
}
button.checkmark.checkmark--cross:before,
input[type="submit"].checkmark.checkmark--cross:before {
  content: '\00d7';
  font-size: 18px;
  top: -1px;
}
button[type="submit"].btn--loading:after,
input[type="submit"][type="submit"].btn--loading:after {
  background: #4a90e2;
}
.bg--primary button.btn {
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}
.bg--primary button.btn:hover {
  border-color: #fff;
}
.bg--primary button.btn.btn--primary {
  color: #4a90e2;
  border-color: #4a90e2;
}
.bg--primary button.btn.btn--primary-1 {
  border-color: #31639c;
}
input,
select {
  height: 2.78571429em;
}
input.field-error {
  border-color: #EBA8A8;
}
input[type] + input[type],
input[type] + .input-checkbox,
input[type] + button,
input[type] + .input-select {
  margin-top: 0.92857143em;
}
input,
[class*='input-'] label,
select,
textarea {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
input:not([class*='col-']),
select:not([class*='col-']),
.input-select:not([class*='col-']),
textarea:not([class*='col-']),
button[type="submit"]:not([class*='col-']) {
  width: 100%;
}
input[type],
select,
textarea {
  padding-left: 0.92857143em;
}
input[type]:focus,
select:focus,
textarea:focus {
  border-color: #76abe9;
}
input[type="image"] {
  border: none;
  padding: none;
  width: auto;
}
label {
  font-size: .85714286em;
}
.bg--primary label,
.bg--primary-1 label {
  color: #fff;
}
.input-icon i {
  top: 8px;
  left: 8px;
}
.input-icon input {
  padding-left: 2.78571429em;
}
.text-center .input-checkbox label,
.text-center .input-radio label {
  margin: 0 auto;
}
.input-checkbox label,
.input-radio label {
  font-size: 1em;
}
.input-checkbox {
  margin-top: 0.46428571em;
}
.input-checkbox.field-error label {
  border-color: #EBA8A8;
}
.input-checkbox label {
  background: none;
  border: 1px solid #d3d3d3;
  text-align: center;
  position: relative;
}
.input-checkbox label:not(:last-child) {
  margin-right: 0.46428571em;
}
.input-checkbox label:hover {
  border-color: #4a90e2;
}
.input-checkbox label:before {
  content: '';
  left: 0;
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #4a90e2;
  opacity: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.input-checkbox input:checked + label {
  border-color: #4a90e2;
  background: #4a90e2;
}
.input-checkbox input:checked + label:after {
  content: 'L';
  transform: rotateY(180deg) rotateZ(-45deg);
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: -2px;
  font-weight: 700;
}
.input-checkbox input:checked + label:before {
  animation: pulse .45s ease forwards;
  -webkit-animation: pulse .45s ease forwards;
}
.input-checkbox + span {
  display: inline-block;
  position: relative;
  bottom: 10px;
  margin-left: 0.92857143em;
  font-size: 0.85714286em;
  white-space: nowrap;
}
.input-checkbox + button[type] {
  margin-top: 0.92857143em;
}
.input-checkbox + span + button[type] {
  margin-top: 0.92857143em;
}
.bg--dark .input-checkbox:not(.checked) label {
  border-color: #a5a5a5;
}
.bg--dark .input-checkbox + span {
  opacity: .75;
}
.input-checkbox.input-checkbox--switch label {
  width: 3.71428571em;
  border-radius: 60px;
}
.input-checkbox.input-checkbox--switch label:before {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: #d3d3d3;
  opacity: 1;
  left: 2px;
  top: 2px;
}
.input-checkbox.input-checkbox--switch label:hover:before {
  border-color: #4a90e2;
}
.input-checkbox.input-checkbox--switch input:checked + label {
  background: none;
}
.input-checkbox.input-checkbox--switch input:checked + label:before {
  animation: none !important;
  background: #4a90e2;
  border-color: #4a90e2;
  transform: translateX(1.85714286em);
}
.input-checkbox.input-checkbox--switch input:checked + label:after {
  display: none;
}
.input-radio.field-error label {
  border-color: #EBA8A8;
}
.input-radio .input__label {
  font-size: .85714286em;
  display: inline-block;
}
.input-radio .input__label + label {
  margin-top: 0.92857143em;
}
.input-radio label {
  position: relative;
  background: none;
  border: 1px solid #d3d3d3;
}
.input-radio label:hover {
  border-color: #4a90e2;
}
.input-radio label:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #4a90e2;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  opacity: 0;
  left: 0;
}
.input-radio input:checked + label {
  border-color: #4a90e2;
  background-color: #4a90e2;
}
.input-radio input:checked + label:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 7px;
  top: 7px;
  background-color: #fff;
  border-radius: 50%;
}
.input-radio input:checked + label:before {
  animation: pulse .4s ease forwards;
}
.input-radio--innerlabel label {
  transition: all .3s ease;
  height: 2.78571429em;
  line-height: 2.50714286em;
  padding: 0 0.92857143em;
  border: 1px solid #ececec;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.input-radio--innerlabel:hover {
  border-color: #4a90e2;
}
.input-radio--innerlabel input:checked + label {
  border-color: #4a90e2;
  background: #4a90e2;
  color: #fff;
}
.input-radio--innerlabel input:checked + label:after {
  display: none;
}
.input-radio--innerlabel input:checked + label:before {
  animation: none;
}
@media all and (max-width: 1024px) {
  .input-radio input:checked + label:after {
    top: 6px;
    left: 6px;
  }
}
.bg--primary .input-radio--innerlabel {
  border-color: #76abe9;
}
.bg--primary .input-radio--innerlabel:hover {
  border-color: #fff;
}
.bg--primary .input-radio--innerlabel.checked {
  background: #fff;
  border-color: #fff;
}
.bg--primary .input-radio--innerlabel.checked label {
  color: #4a90e2;
}
.bg--primary-1 .input-radio--innerlabel {
  border-color: #3e7cc2;
}
.bg--primary-1 .input-radio--innerlabel:hover {
  border-color: #fff;
}
.bg--primary-1 .input-radio--innerlabel.checked {
  background: #fff;
  border-color: #fff;
}
.bg--primary-1 .input-radio--innerlabel.checked label {
  color: #31639c;
}
.input-select {
  position: relative;
}
.input-select select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
.input-select:not(:last-child) {
  margin-bottom: 0.92857143em;
}
.input-select:after {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  font-size: 30px;
  content: '\2263';
  pointer-events: none;
  padding: 0 13px;
  border-left: 1px solid #ececec;
  line-height: 31px;
}
.feature:not(.boxed) {
  margin-bottom: 60px;
}
.feature.feature--featured:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #4a90e2;
  left: 0;
}
.feature h5 {
  margin: 0;
}
.feature h4 {
  margin-bottom: 0.342105263157895em;
}
.feature h4 + p {
  max-width: 22.28571429em;
}
.feature i + h5 {
  margin-top: 1.85714286em;
}
.feature i + h4 {
  margin-top: 0.68421052631579em;
}
.feature i.icon--lg + h4 {
  margin-top: 1.36842105263158em;
}
.feature i.icon--lg + .h5 {
  margin-top: 0.92857143em;
}
.feature img + .boxed {
  border-radius: 0 0 6px 6px;
  border-top: none;
}
.imagebg:not(.image--light) .feature.bg--white a:not(.btn) {
  color: #4a90e2;
}
.imagebg:not(.image--light) .feature.bg--white .label {
  color: #fff;
}
@media all and (max-width: 767px) {
  .feature .feature__body form .row {
    margin-left: 0;
    margin-right: 0;
  }
}
section.text-center .feature-6 h4 + p {
  margin: 0 auto;
}
@media all and (min-width: 768px) {
  .row div[class*='col-']:nth-child(1):nth-last-child(3) .feature,
  .row div[class*='col-']:nth-child(2):nth-last-child(2) .feature,
  .row div[class*='col-']:nth-child(3):last-child .feature {
    margin-bottom: 0;
  }
}
a.block > .feature {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
a.block:hover > .feature {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
}
.hover-shadow {
  border-radius: 6px;
  backface-visibility: hidden;
  overflow: hidden;
  border: 1px solid #ececec;
  transition: 0.35s ease-out;
  -webkit-transition: 0.35s ease-out;
  -moz-transition: 0.35s ease-out;
}
.hover-shadow:hover {
  transform: translate3d(0, -10px, 0);
  -webkit-transform: translate3d(0, -10px, 0);
  box-shadow: 0 23px 40px rgba(0, 0, 0, 0.2);
}
.bg--dark .hover-shadow {
  border-color: #222;
}
.bg--dark .hover-shadow:hover {
  box-shadow: 0 23px 40px #000000;
}
.feature {
  height: 13em;
  margin-bottom: 30px;
}
.feature[data-overlay]:before {
  border-radius: 6px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.feature[data-overlay]:hover:before {
  opacity: .75;
}
.feature .background-image-holder {
  border-radius: 6px;
}
.feature h3 {
  margin: 0;
}
.row--gapless .feature {
  margin: 0;
  border-radius: 0;
}
.row--gapless .feature .background-image-holder {
  border-radius: 0;
}
.row--gapless .feature:before {
  border-radius: 0;
}
@media all and (max-width: 767px) {
  .feature .pos-vertical-center {
    top: 50%;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
  }
}
@media all and (max-width: 767px) {
  .feature p {
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .feature.boxed {
    margin-bottom: 15px;
  }
  .feature:not(.boxed) {
    margin-bottom: 30px;
  }
}
// Footer
footer .type--fine-print:not(p) {
  opacity: .5;
}
footer a {
  font-weight: normal;
}
footer a.type--fine-print:not(:first-child) {
  margin-left: 1.85714286em;
}
footer {
  padding: 1.85714286em 0;
}
@media all and (min-width: 768px) {
  footer .list-inline + .btn {
    position: relative;
    bottom: 4px;
  }
}
@media all and (max-width: 767px) {
  footer .social-list {
    margin: 1.85714286em 0;
  }
}
