<% @categories.each do |category| %>
    <div class="col-sm-2 col-xs-6">
      <%= link_to category_path(category) do %>
       <div class="block">
        <div class="feature boxed text-center imagebg" data-overlay="8">
          <div class="background-image-holder">
            <%= image_tag category.photo || "music.jpg" %>
          </div>
          <h4 class="pos-vertical-center"><%= category.name %></h4>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

