<% title "Sensei - Home" %>
<section class="cover height-70 imagebg parallax" data-overlay="8">
  <div class="background-image-holder">
    <%= image_tag "background/home.jpg" %>
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-9 col-md-7">
        <h1>
          Studiate
        </h1>
        <h2>
          Learn Anything from Amazing Teachers
        </h2>
        <!-- <p class="lead">
        </p> -->
        <p><span class="btn translucent_button">How it works</span></p>
      </div>
    </div>
  </div>
</section>


<section class="unpad">
  <div class="row--gapless">
    <%= render "categories" %>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="masonry">
          <div class="row">
            <div class="masonry__container">
              <%= render 'shared/list', lessons: @lessons %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section><div class="container"><div>This is how it works</div></div></section>


