<% title "Sensei - Home" %>
<section class="cover height-70 imagebg parallax" data-overlay="8">
  <div class="background-image-holder">
    <%= image_tag "background/home.jpg" %>
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-9 col-md-7">
        <h1>
          Learn Anything from Amazing Instructors
        </h1>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem, sed audistine modo de Carneade.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="unpad">
  <div class="row--gapless">
    <%= render "categories" %>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="masonry">
          <div class="row">
            <div class="masonry__container">
              <%= render 'shared/list' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


