.alert {
  overflow: hidden;
  border: 1px solid #e6e6e6;
  padding: 0.92857143em;
}
.alert .alert__body,
.alert .alert__close {
  display: inline-block;
  user-select: none;
}
.alert .alert__body {
  float: left;
}
.alert .alert__close {
  float: right;
  cursor: pointer;
}
.alert.bg--error {
  background: #fce8e8;
  border-color: #e23636;
}
.alert.bg--error .alert__close {
  color: #e23636;
}
.alert.bg--success {
  background: #e4f5e5;
  border-color: #4ebf56;
}
.alert.bg--success .alert__close {
  color: #4ebf56;
}
.alert.bg--primary {
  background: #fafcfe;
  border-color: #4a90e2;
}
.alert.bg--primary .alert__body > span {
  color: #666666;
}
.alert.bg--primary .alert__close {
  color: #4a90e2;
}
.alert.alert--dismissed {
  display: none;
}
