.masonry .masonry__container.masonry--active .masonry__item {
  opacity: 1;
  pointer-events: initial;
}
.masonry .masonry__container .masonry__item {
  opacity: 0;
  pointer-events: none;
}
.masonry .masonry__filters li {
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.masonry .masonry__filters li.active {
  cursor: default;
}
.masonry.masonry--gapless .masonry__item {
  padding: 0 !important;
  margin-bottom: 0;
}
